# Principais métodos do (PANDAS)

### Aqui estão alguns dos métodos mais usados no Pandas

In [1]:
import pandas as pd

In [2]:
# Criar uma Serie
lista = [1, 2, 3, 4, 5]
ind = ["a", "b", "c", "d", "e"]
data = pd.Series(lista, index=ind)
print("Serie")
print(data)

Serie
a    1
b    2
c    3
d    4
e    5
dtype: int64

#### 1

In [7]:
data.head() #Visualiza a primeira linha

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 2

In [8]:
data.tail() #Visulaiza as primeiras linhas

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 3

In [9]:
data.info() #Obter informações gerais sobre o DataFrame

<class 'pandas.core.series.Series'>
Index: 5 entries, a to e
Series name: None
Non-Null Count  Dtype
--------------  -----
5 non-null      int64
dtypes: int64(1)
memory usage: 80.0+ bytes

### 4

In [10]:
data.describe() #Estatísticas descritivas de colunas numéricas

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

### 5

In [11]:
data.isnull() #Identificar valores nulos

a    False
b    False
c    False
d    False
e    False
dtype: bool

### 6

In [12]:
data.sort_values() #Ordenar pelo valor de uma coluna

a    1
b    2
c    3
d    4
e    5
dtype: int64

### 7

In [13]:
data.groupby() #Agrupar dados

TypeError: You have to supply one of 'by' and 'level'

### 8

In [14]:
data.apply() #Aplicar funções a colunas

TypeError: Series.apply() missing 1 required positional argument: 'func'

### 9

In [15]:
data.corr() #Matriz de correlação

TypeError: Series.corr() missing 1 required positional argument: 'other'