In [1]:
import pandas as pd
import seaborn as sns

In [2]:
dados = sns.load_dataset('tips')
#print(dados.head(10))
dados.head()#O mais adequado para uma analise exploratória rápida.

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
#dados["time"]
dados.head()

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [4]:
dados[dados["time"] == "Lunch"]

     total_bill   tip     sex smoker   day   time  size
77        27.20  4.00    Male     No  Thur  Lunch     4
78        22.76  3.00    Male     No  Thur  Lunch     2
79        17.29  2.71    Male     No  Thur  Lunch     2
80        19.44  3.00    Male    Yes  Thur  Lunch     2
81        16.66  3.40    Male     No  Thur  Lunch     2
..          ...   ...     ...    ...   ...    ...   ...
222        8.58  1.92    Male    Yes   Fri  Lunch     1
223       15.98  3.00  Female     No   Fri  Lunch     3
224       13.42  1.58    Male    Yes   Fri  Lunch     2
225       16.27  2.50  Female    Yes   Fri  Lunch     2
226       10.09  2.00  Female    Yes   Fri  Lunch     2

[68 rows x 7 columns]

In [6]:
nova_lista = dados[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No")]

In [8]:
nova_lista.head()

    total_bill   tip   sex smoker   day   time  size
77       27.20  4.00  Male     No  Thur  Lunch     4
78       22.76  3.00  Male     No  Thur  Lunch     2
79       17.29  2.71  Male     No  Thur  Lunch     2
81       16.66  3.40  Male     No  Thur  Lunch     2
84       15.98  2.03  Male     No  Thur  Lunch     2

In [10]:
#nova_lista["sex"] = "Gay"
nova_lista.loc[:, "sex"] = "Gay"

In [11]:
nova_lista.head()

    total_bill   tip  sex smoker   day   time  size
77       27.20  4.00  Gay     No  Thur  Lunch     4
78       22.76  3.00  Gay     No  Thur  Lunch     2
79       17.29  2.71  Gay     No  Thur  Lunch     2
81       16.66  3.40  Gay     No  Thur  Lunch     2
84       15.98  2.03  Gay     No  Thur  Lunch     2

In [16]:
dados.loc[dados[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No")]] = "Gay"

KeyError: "None of [Index([('t', 'o', 't', 'a', 'l', '_', 'b', 'i', 'l', 'l'),\n                                          ('t', 'i', 'p'),\n                                          ('s', 'e', 'x'),\n                           ('s', 'm', 'o', 'k', 'e', 'r'),\n                                          ('d', 'a', 'y'),\n                                     ('t', 'i', 'm', 'e'),\n                                     ('s', 'i', 'z', 'e')],\n      dtype='object')] are in the [index]"

In [18]:
dados.head

<bound method NDFrame.head of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [21]:
dados["time"]

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [22]:
dados["time"]

0      Dinner
1      Dinner
2      Dinner
3      Dinner
4      Dinner
        ...
239    Dinner
240    Dinner
241    Dinner
242    Dinner
243    Dinner
Name: time, Length: 244, dtype: category
Categories (2, object): ['Lunch', 'Dinner']

In [24]:
#dados.loc[dados[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No")]] = "Gay"
#dados.loc[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No"), "sex"] = "Gay"
# Corrigindo o uso de .loc para modificar a coluna 'sex' onde as condições são satisfeitas
dados.loc[(dados["time"] == "Lunch") & (dados["sex"] == "Male") & (dados["smoker"] == "No"), 'sex'] = "Gay"

TypeError: Cannot setitem on a Categorical with a new category (Gay), set the categories first